Get_going.bat
__pycache__
_misc
Scripts/temp.py
Meeting Presentations/~$*
Models/A*
TEMP/seismic_images
TEMP/*/*.jpg
_tb/*
!TEMP/AAO/1_combined_pred.jpg
!TEMP/ABW/0_combined_pred.jpg
!./TEMP/ACC/9_combined_pred.jpg
!./TEMP/ACO/0_combined_pred.jpg
!./TEMP/ACP/0_combined_pred.jpg
!./TEMP/ACP/1_combined_pred.jpg
!./TEMP/ACP/5_combined_pred.jpg