Get_going.bat
__pycache__
_misc
Scripts/temp.py
Meeting Presentations/~$*
Models/A*
TEMP/seismic_images
TEMP/*/*.jpg
_tb/*
Data/dupelicates
start_model_run.bat
!TEMP/AAO/1_combined_pred.jpg
!TEMP/ABW/0_combined_pred.jpg
!TEMP/ACC/9_combined_pred.jpg
!TEMP/ACO/0_combined_pred.jpg
!TEMP/ACP/0_combined_pred.jpg
!TEMP/ACP/1_combined_pred.jpg
!TEMP/ACP/5_combined_pred.jpg
!TEMP/ACP/7_combined_pred.jpg
!TEMP/ACP/10_combined_pred.jpg
!TEMP/ACP/11_combined_pred.jpg
!TEMP/ACP/17_combined_pred.jpg
!TEMP/ACP/21_combined_pred.jpg
!TEMP/ACP/27_combined_pred.jpg
!TEMP/AET/1_combined_recon_pred.jpg
!TEMP/AEU/0_combined_target_pred.jpg
!TEMP/AEU/0_combined_recon_pred.jpg
!TEMP/AEV/0_combined_recon_pred.jpg
!TEMP/AEV/0_combined_target_pred.jpg
!TEMP/AEV/6_combined_recon_pred.jpg
!TEMP/AEV/6_combined_target_pred.jpg
!TEMP/AFA/2_combined_target_pred.jpg
!TEMP/ADX/0_combined_target_pred.jpg
!TEMP/ADX/1_combined_target_pred.jpg
!TEMP/ADO/0_combined_target_pred.jpg